version: '3.8'

services:
  backend:
    build: ./backend
    container_name: stackify-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: stackify-frontend
    ports:
      - "3000:3000"
    stdin_open: true # Fixes React exiting immediately in Docker
    tty: true
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend